cicd/src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d735b5e3-7ec4-449c-9713-07f950f1fedb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="b3fc1a23-9e8e-48d0-af63-e34b5dd8b41f" >
		<http:listener doc:name="Listener" doc:id="313b76bf-1f60-4b75-9c08-abbee5aadb1d" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Hi Welcome cicd"]' doc:name="Set Payload" doc:id="da7b2205-34a0-4c12-8eec-cb01fedf1833" />
	</flow>
</mule>
